<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://vjs.zencdn.net/7.5.5/video-js.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <!--Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark  fixed-top" style="background-color: #c93838;">
            <a class="navbar-brand">YTProy</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('index') }}">Inicio<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Modificar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Eliminar</a>
                    </li>
                </ul>
                <form class="form-inline my-3 my-lg-0" method="post" action="{{ url_for('search') }}">
                    <input class="form-control mr-sm-3" type="search" placeholder="Buscar video" aria-label="Search" name="search-bar">
                    <select class="form-control " style="margin-right: 10px" name="search-type">
                         <option value="title">Canal</option>
                         <option value="channel_title">Título</option>
                         <option value="tags">Etiquetas</option>
                    </select>

                    <button  class="btn bg-white my-3 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
        <hr style="margin-top: 100px">
        <!--Panel para subir un video-->
      <div align="center">
       <div class="col-lg-6" >
           <div class="input-group">
               <input type="text" placeholder="Ingrese URL del video a subir" aria-label="ingresar" name="#" class="form-control mrsm-3">
               <span class="input-group-btn">
                   <button class="btn btn-outline-dark" type="button">Subir</button>
               </span>
           </div>
       </div>
      </div>
        <!--Carrusel de los 3 top-->
        <div align="center" style="padding-top: 3%;">
           <div class="card text-white mb-3" style="max-width:75%;max-height: 60%;background-color: #c93838;" >
            <div class="card-header">Top</div>
           <div style="margin-top:30px; margin-bottom: 30px;" align="center">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <!----Indicators---->
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    {% for video in videos %}
                        <div class="carousel-item active">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.video_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
            <div class="card-footer bg-transparent border-dark">Lo tres vídeos más visto</div>
        </div>
        </div>


    </div>
    <script src="https://vjs.zencdn.net/ie6/1.1.2/videojs-ie8.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>