<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test page</title>
</head>
<body>
    <ul>
        {% for video in videos %}
        <li> {{ video.title }} -- {{video.views}}</li>
        {% else %}
        <li> No videos :c </li>
        {% endfor %}
    </ul>

    <form action="{{ url_for('search') }}" method="post">
        <input name="search-bar">
        <select name="search-type">
            <option value="title">title</option>
            <option value="channel_title">canal</option>
            <option value="views">visitas</option>
        </select>
        <button type="submit">press</button>
    </form>

    <form action="{{ url_for('insert') }}" method="post">
        <input name="video-url">
        <button type="submit">press</button>
    </form>

</body>
</html>