<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://vjs.zencdn.net/7.5.5/video-js.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<style>
    #navImage{
        max-width: 10%;
    }

</style>

<body>
    <div class="container">
        <!--Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark  fixed-top" style="background-color: #c93838;">
            <a class="navbar-brand">YTProy</a>

            <img src="../static/YTapp.png" id="navImage">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('index') }}">Inicio<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('update') }}">Modificar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Eliminar</a>
                    </li>
                </ul>
                <form class="form-inline my-3 my-lg-0" method="post" action="{{ url_for('search') }}">
                    <input class="form-control mr-sm-3" type="search" placeholder="Buscar video" aria-label="Search" name="search-bar">
                    <select class="form-control " style="margin-right: 10px" name="search-type">
                        <option value="title">Canal</option>
                        <option value="channel_title">Título</option>
                        <option value="tags">Etiquetas</option>
                    </select>

                    <button class="btn bg-white my-3 my-sm-0" type="submit">Buscar</button>
                </form>
                </form>
            </div>
        </nav>
        <hr style="margin-top: 100px">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <iframe class="card-video" style="padding-left: 20px; padding-top: 15px;" width="520" height="310" src="https://www.youtube.com/embed/Qk9AFipS0zg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-8">
                    <div class="card-body" style="padding-left: 50%;">
                        <button class="btn btn-primary " type="button" data-toggle="collapse" data-target="#mostrar" aria-expanded="false" aria-controls="collapseExample">
                            Cargar Datos
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-14" style="padding-left: 50%;margin-top:-410.5px; ">
            <div class="collapse" id="mostrar">
                <div class="card card-body">
                    <form>
                            <div class="form-group">
                                <label for="channel">Canal</label>
                                <input type="text" class="form-control" id="channel" value="{{videos.title}}}">
                            </div>
                            <div class="form-group ">
                                <label for="video_name">Nombre del video</label>
                                <input type="text" class="form-control" id="video_name" value="Christmas Every Day - Simple Plan (Lyric Video)">
                            </div>
                        <fieldset disabled>
                            <div class="form-group">
                                <label for="url">URL</label>
                                <input type="text" class="form-control" id="url" value="https://www.youtube.com/watch?v=Qk9AFipS0zg">
                            </div>
                        </fieldset>
                          <div>
                            <div align="center">
                                <div>
                                    <button type="submit" class="btn btn-warning" data-toggle="tooltip" data-placement="left"title="Actualizar datos.">Actualizar</button>
                                     <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="left"title="Eliminar video.">Eliminar</button>
                                </div>
                            </div>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://vjs.zencdn.net/ie6/1.1.2/videojs-ie8.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>