{% extends 'layout.html' %}
{% block title %} Update {%  endblock %}

{% block style %}
    <style>
        #btn{
            alignment: left;
        }
    </style>
{% endblock %}

{% block body %}
    <hr style="margin-top: 100px">
<div class="card mb-3 pt-5" id="VideoCard" >
            <div class="row no-gutters">
                <div class="col-md-8">
                    <iframe class="card-video"  width="480" height="310" src="https://www.youtube.com/embed/{{ video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-8">
                    <div class="card-body" style="padding-left: 50%;" id="btn">
                        <button class="btn btn-primary " type="button" data-toggle="collapse" data-target="#mostrar" aria-expanded="false" aria-controls="collapseExample">
                            Cargar Datos
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-" style="padding-left: 50%;margin-top:-410.5px; ">
            <div class="collapse" id="mostrar">
                <div class="card card-body" id="FormCard">
                    <form>
                            <div class="form-group">
                                <label for="channel">Canal</label>
                                <input type="text" class="form-control" id="channel" value=Nombre>
                            </div>
                            <div class="form-group ">
                                <label for="video_name">Nombre del video</label>
                                <input type="text" class="form-control" id="video_name" value="Christmas Every Day - Simple Plan (Lyric Video)">
                            </div>
                        <fieldset disabled>
                            <div class="form-group">
                                <label for="url">URL</label>
                                <input type="text" class="form-control" id="url" value="https://www.youtube.com/watch?v=Qk9AFipS0zg">
                            </div>
                        </fieldset>
                        <div>
                            <div align="center">
                                <div>
                                    <button type="submit" class="btn btn-warning" data-toggle="tooltip" data-placement="left"title="Actualizar datos.">Actualizar</button>
                                     <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="left"title="Eliminar video.">Eliminar</button>
                                </div>
                            </div>
                          </div>
                    </form>
                </div>
            </div>
        </div>
                {% endblock %}